/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

textarea {
	resize: vertical;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type="file"] {
	max-width: 100%;
}

/* container-setings */

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
}

/* -header- */

header {
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 100;
	background-color: #fff;
}

.header__container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header__left {
	width: 220px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo > h1 {
	font-weight: 300;
	font: size 27px;
}

.logo > h1 > span {
	font-weight: bold;
	font: size 27px;
}

.menu {
	display: flex;
	gap: 32px;
}

.header__right {
	width: 584.8125px;
	gap: 31px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu__link {
	font-size: 15px;
	font-weight: 400;
	color: #000;
	transition: 0.5s;
}

.header__btn {
	width: 155px;
	height: 46px;
	background-color: #000;
	color: #fff;
	border-radius: 15px;
	font-size: 16px;
	font-weight: 400;
	transition: 0.5s;
}

.header__btn:hover {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
	transition: 0.5s;
}

.menu__list:hover > .menu__link {
	font-size: 16px;
	padding-bottom: 2px;
	transition: 0.5s;
}

/* section1 */

.section1 {
	width: 100%;
	height: 720px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #ece7e4;
}

.section1__container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section1__left {
	width: 720px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.section1__left > p {
	width: 509px;
	font-size: 16px;
	font-weight: 400;
	color: #403e3b;
	text-align: start;
}

.section1__left > h1 {
	width: 509px;
	text-align: start;
	font-size: 64px;
	font-weight: 400;
	padding-bottom: 18px;
	padding-top: 20px;
	padding-right: 10px;
}

.section1__left > a {
	width: 509px;
	font-size: 16px;
	font-weight: 400;
	padding-top: 41px;
	color: #1b1a1a;
	text-align: start;
	transition: 0.5s;
}

.section1__left > a:hover {
	text-decoration: underline;
	transition: 0.5s;
}

.section1__right {
	width: 720px;
	height: 100%;
	background-image: url("images/img1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* -SECTION 2- */

.section2 {
	width: 100%;
	padding: 100px 336px;
}
.section2__container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.section2__container > h1 {
	font-size: 32px;
	font-weight: 400;
	line-height: 38px;
	color: #403e3b;
}
.section2__text {
	width: 493px;
	gap: 10px;
}
.section2__text > p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #403e3b;
}
.section2__card {
	display: flex;
	align-items: center;
	justify-content: start;
	padding-top: 30px;
	gap: 30px;
}
.section2__card__text > h3 {
	font-size: 17px;
	font-weight: 400;
	line-height: 26px;
	color: #1b1a1a;
	/* padding-top: 30px;
	padding-left: 33.4px;
	padding-bottom: 11px; */
}
.section2__card__text > span {
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	color: #645c55;
}
.section2__card__img > img {
	width: 64px;
	height: 64px;
	object-fit: cover;
}

/* section3 */

.section3 {
	width: 100%;
	height: 600px;
	background-image: url(images/img2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	overflow: hidden;
}
.section3__container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: end;
}
.section3__div {
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	text-align: start;
}
.section3__title {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 2px;
	color: #403e3b;
}
.section3__text {
	width: 285px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #645c55;
}

/* section4 */

.section4 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section4__container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 120px 100px;
	gap: 100px;
}
.section4__titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.section4__titles > h3 {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 2px;
	color: #645c55;
}
.section4__titles > h1 {
	font-size: 39px;
	font-weight: 400;
	line-height: 40px;
	color: #1b1a1a;
}
.section4__cards {
	height: 259px;
	display: flex;
	gap: 17px;
}
.section4__card {
	width: 379px;
	height: 259px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
}
.section4__card__img {
	width: 117px;
	height: 102px;
	object-fit: cover;
}
.section4__card__text {
	text-align: center;
	gap: 10px;
}
.section4__card__text > h3 {
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	color: #403e3b;
}
.section4__card__text > p {
	width: 292px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #645c55;
}

/* section5 */

.section5 {
	width: 100%;
	height: 600px;
	background-image: url(images/img3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	overflow: hidden;
}
.section5__container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: end;
}
.section5__div {
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	text-align: start;
}
.section5__title {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 2px;
	color: #403e3b;
}
.section5__text {
	width: 285px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #645c55;
}
